@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: sans-serif;
	color: #354358;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-image: linear-gradient(to right bottom, #00f260, #0575e6);
}

::-webkit-scrollbar {
	width: 8px;
	height: 0px;
	border-radius: 5px;
}

@layer components {
	.step {
		@apply relative mb-[30px] ml-[21px] before:content-[""] before:absolute before:left-[calc(-21px)] before:w-1 before:h-128 before:mt-2 before:bg-blue-500 after:content-[""] after:absolute after:top-[4px] after:left-[calc(-29px)] after:w-[20px] after:h-[20px] after:bg-blue-500 after:rounded-full;
	}
}

.carousel {
  display: inline-flex;
  overflow-x: hidden;
/*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  scroll-snap-type: x mandatory;
/* all below will hide the scrollbar on all browsers.    */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.carousel::-webkit-scrollbar {
	width: 0px;
}
